wcf/project/Intercity/Client/Service References/IntercityService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntercityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Intercity.Exception" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Intercity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Intercity.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntercityService_FindDirectTrain_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDirectTrain" />
  </wsdl:message>
  <wsdl:message name="IIntercityService_FindDirectTrain_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDirectTrainResponse" />
  </wsdl:message>
  <wsdl:message name="IIntercityService_FindDirectTrain_CityDoesntExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Intercity.Exception" name="detail" element="q1:CityDoesntExistException" />
  </wsdl:message>
  <wsdl:message name="IIntercityService_FindTrain_InputMessage">
    <wsdl:part name="parameters" element="tns:FindTrain" />
  </wsdl:message>
  <wsdl:message name="IIntercityService_FindTrain_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindTrainResponse" />
  </wsdl:message>
  <wsdl:message name="IIntercityService_FindTrain_CityDoesntExistExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Intercity.Exception" name="detail" element="q2:CityDoesntExistException" />
  </wsdl:message>
  <wsdl:portType name="IIntercityService">
    <wsdl:operation name="FindDirectTrain">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntercityService/FindDirectTrain" message="tns:IIntercityService_FindDirectTrain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntercityService/FindDirectTrainResponse" message="tns:IIntercityService_FindDirectTrain_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IIntercityService/FindDirectTrainCityDoesntExistExceptionFault" name="CityDoesntExistExceptionFault" message="tns:IIntercityService_FindDirectTrain_CityDoesntExistExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindTrain">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntercityService/FindTrain" message="tns:IIntercityService_FindTrain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntercityService/FindTrainResponse" message="tns:IIntercityService_FindTrain_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IIntercityService/FindTrainCityDoesntExistExceptionFault" name="CityDoesntExistExceptionFault" message="tns:IIntercityService_FindTrain_CityDoesntExistExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntercityService" type="tns:IIntercityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindDirectTrain">
      <soap:operation soapAction="http://tempuri.org/IIntercityService/FindDirectTrain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CityDoesntExistExceptionFault">
        <soap:fault use="literal" name="CityDoesntExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindTrain">
      <soap:operation soapAction="http://tempuri.org/IIntercityService/FindTrain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CityDoesntExistExceptionFault">
        <soap:fault use="literal" name="CityDoesntExistExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntercityService">
    <wsdl:port name="BasicHttpBinding_IIntercityService" binding="tns:BasicHttpBinding_IIntercityService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Intercity/IntercityService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>