wcf/project/Intercity/Client/Service References/IntercityService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Intercity" />
  <xs:element name="FindDirectTrain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityNameA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityNameB" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDirectTrainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intercity" minOccurs="0" name="FindDirectTrainResult" nillable="true" type="q1:ArrayOfIntercityConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTrain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityNameA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityNameB" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTrainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Intercity" minOccurs="0" name="FindTrainResult" nillable="true" type="q2:ArrayOfIntercityConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>